<!DOCTYPE html>
<html lang="en">

<title>Gourd goru</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="css/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">


<body>

<nav>
    <div class="topSection">
        <div class="topnav" id="myTopnav">
            <a href="/">Home</a>
            <a href="/tool">The tool</a>
            <a href="/input">New words</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>

    </div>
</nav>


<header class="w3-container w3-red w3-center" style="padding:128px 16px">
    <h1 class="w3-margin w3-jumbo">GOURD GORU</h1>
    <p class="w3-xlarge">A tool by Bram, Sil en Cas</p>
    <a href="/tool" class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Get Started</a>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
        <div class="w3-twothird">
            <h1>About</h1>
            <h5 class="w3-padding-32">The Gourd Goru is a tool developed to help make searching PubMed articles more
                convenient. This is done based on keyterms and the co-occurrence</h5>

            <p class="w3-text-grey">The Gourd Goru works by searching keywords in all PubMed articles and scoring the
                relation between keywords based on co-occurrence. A higher score indicates a stronger connection between
                those keywords. When adding new keywords, new articles and thus new connections will be added to the
                tool.</p>
        </div>


    </div>
</div>


<script>
    // Used to toggle the menu on small screens when clicking on the menu button
    function myFunction() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
</script>

</body>
</html>

